<h1 class= "header"> The Twittle</h1>
<% if @messages %>
<% @messages.each do |message| %>
<%= message %>
<% end %>
<% end %>

<%= form_tag(tweets_path, method: :get) do  %>
<%= label_tag "Enter Somones Twitter Handle" %>
<%= text_field_tag :u_n %>
<%= submit_tag "Get Tweets" %>
<% end %>
<br>
<br>

<%= form_tag '/', method: :get do %>
<%= text_field_tag :message %>
<%= submit_tag "Tweet" %>
<% end %>
<br>

<% if params[:u_n] %>
<strong> <%= "These are the last 20 tweets from #{params[:u_n]}" %></strong>

<table class= "table">
  <% @tweets.each do |tweet| %>
  <tr>
    <td>
      <%= tweet.text %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>

<strong>  <%= "This is my home feed" %></strong>
<table class= "table">
  <% @home_feed.each do |tweet| %>
  <tr>
    <td>
      <%= tweet.text %>
    </td>
  </tr>
  <% end %>
</table>
