<h1 class= "header page-header"> The Twittle</h1>
<%= link_to "Github Dashboard", github_fetchers_path %>
<br>
<br>
<% if @messages %>
<% @messages.each do |message| %>
<%= message %>
<% end %>
<% end %>

<%= form_for :entered, {url: tweets_path, method: :get} do |f| %>
<%= f.label "Enter Somones Twitter Handle" %>
<%= f.text_field :u_n %>
<%= f.submit "Get Tweets" %>
<% end %>
<br>
<br>

<%= form_tag '/', method: :get do %>
<%= text_field_tag :message %>
<%= submit_tag "Tweet" %>
<% end %>
<br>

<% unless params[:entered].blank? %>
<strong> <%= "These are the last 20 tweets from #{params[:u_n]}" %></strong>

<table class= "table">
  <% @tweets.each do |tweet| %>
  <tr>
    <td>
      <%= tweet.text %>
    </td>
  </tr>
  <% end %>
</table>
<% end %>

<strong>  <%= "This is my home feed" %></strong>
<table class= "table">
  <% @home_feed.each do |tweet| %>
  <tr>
    <td>
      <%= tweet.text %>
    </td>
  </tr>
  <% end %>
</table>
