<h1>GitHub Dashboard</h1>

<%= "<strong>Your Location: </strong>".html_safe + @fetcher.client.user.location%>
<br>
<br>

<%= form_tag github_fetchers_path, method: :get do %>
<strong>Enter Git Hub User Name</strong>
<%= text_field_tag :user_name %>
<%= submit_tag "Get Info" %>
<% end %>





<% if @entered %>

<%= image_tag @entered.avatar_url %>

<table>
<tr>
  <td>
    <strong>Username:</strong>
  </td>
  <td>
    <%=@entered.login %>
  </td>
</tr>
<tr>
  <td>
    <strong>User ID:</strong>
  </td>
  <td>
    <%=@entered.id %>
  </td>
</tr>
<tr>
  <td>
    <strong>Name:</strong>
  </td>
  <td>
    <%=@entered.name %>
  </td>
</tr>


</table>
<% end %>

<br>

<%= form_tag github_fetchers_path, method: :get do %>
<strong>Enter Git Hub User Name</strong>
<%= text_field_tag :user_name_for_repos %>
<%= submit_tag "Get Repository Names" %>
<% end %>
<br>

<% if @repos %>
<h2>Repositories</h2>
<% @repos.each do |field| %>
<%= field.name  %><br>
<% end %>
<% end %>
